body{
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    background-image: url(https://wallpapers.com/images/hd/2560-x-1440-movie-2560-x-1440-56mproziihvmfjsd.jpg);    
    background-size: cover;

   
}





header{
    top:0;
    left: 0;
    height: 100px;
    width: 100%;
    color: white;
    position: fixed;
    

    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    border-bottom: 3px solid gray;
    box-shadow: 0 8px 10px -6px gray;
    z-index: 5;
}

header,texto{
    padding-left: 50px;
    font-size: 70px;
}

.pesquisa::placeholder {  
    color: white;
    background-color: black;    
    padding: 10px;
  


}   
.inicio{
    padding-top: 100px;
}